[Desktop Entry]
Type=Application
Name=MonitorEdu Session
Exec=/usr/bin/monitoredu-session
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
