[Unit]
Description=MonitorEdu agente
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/monitoredu
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target